/*CUSTOMER HOME PAGE*/
.customer-home {
  text-align: left;
  width: 94%;
  height: auto;
  margin: auto;
  /*border: 1px dotted red;*/
}

.intro h1 {
  font: 1.75rem;
}

.intro h3 {
  font-size: 1.25rem;
}

.line-break {
  border: 0.5px solid black;
  margin: 1% auto 3% auto;
  width: 90%;
}

.intro-text {
  display: inline;
}

.read-more {
  display: inline;
  text-decoration: underline;
}

.home-more {
  display: none;
}

/*LOCATION AUTH*/
.location {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 10%;
}

.location h4 {
  margin-bottom: 5%;
  font-size: 1.1rem;
}

.authorize {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  color: #111611;
  background-color: #f7f9f7;
  box-shadow: 0 0 3px 1px #111611;
}

/**/
.current {
  border: 1px dashed black;
  width: 80%;
  margin: 0 10%;
  height: auto;
  display: none;
}

.store {
  width: 90%;
  margin: 5%;
  height: 20vh;
  border: 1px solid red;
}

.shop-button {
  width: 30%;
  margin: 0 35% 5% 35%;
  height: auto;
  border: 1px solid black;
  text-align: center;
}
