/*HOME HEADER*/
.header {
  text-align: right;
  top: 1%;
  right: 1%;
  padding: 3% 2% 0 0;
}

.customer-type {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 0.5%;
}

.human {
  box-shadow: none;
  color: #f7f9f7;
  background-color: #111611;
}

.merchant {
  color: #111611;
  background-color: #f7f9f7;
  box-shadow: 0 0 3px 1px #111611;
}
