/*MERCHANT HOME PAGE*/
.merchant-home {
  text-align: left;
  width: 100%;
  height: auto;
  margin: auto;
  display: none;
}

/*CUSTOMER HEADER*/
.merchant-header {
  text-align: right;
  top: 1%;
  right: 1%;
  padding: 3% 2% 0 0;
}

.merchant-header div {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 0.5%;
}

.merchant-merchant-button {
  box-shadow: none;
  color: #f7f9f7;
  background-color: #111611;
}

.merchant-human-button {
  color: #111611;
  background-color: #f7f9f7;
  box-shadow: 0 0 3px 1px #111611;
}

.merchant-human-button:hover {
  box-shadow: none;
  border: 0.5px solid grey;
  cursor: pointer;
}

.merchant-human-button:active {
  box-shadow: none;
  border: 0.5px solid grey;
  cursor: pointer;
}

/*INTRO*/
.intro {
  width: 94%;
  margin: auto;
}

.intro h1 {
  font: 1.75rem;
}

.intro h3 {
  font-size: 1.25rem;
}

.line-break {
  border: 0.5px solid black;
  margin: 1% auto 3% auto;
  width: 90%;
}

.intro-text {
  display: inline;
}

/*LOCATION AUTH*/
.store {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 10%;
}

.store h4 {
  margin-bottom: 5%;
  font-size: 1.1rem;
}

.store-location {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  color: #111611;
  background-color: #f7f9f7;
  box-shadow: 0 0 3px 1px #111611;
}

.store-location:hover {
  box-shadow: none;
  border: 0.5px solid grey;
  cursor: pointer;
}

.store-location:active {
  box-shadow: none;
  border: 0.5px solid grey;
  cursor: pointer;
}
