/*STORES PAGE*/

.stores {
  text-align: left;
  width: 100%;
  height: auto;
  margin: auto;
  border: 1px solid red;
  display: none;
}

.intro table {
  border: 1px dashed blue;
  width: 100%;
}

.intro th {
  border: 1px dotted green;
  font-size: 1.2rem;
}
